#homePage{
    border-width:           2px;
    border-style:           outset;
    border-color:           rgb(38, 38, 38);
    border-radius:          10px 10px 10px 10px;
    background-color:       transparent;
    width:                  98%;
    min-width:              1270px;
    height:                 98%;
    min-height:             700px;
    color:                  black;
    text-align:             center;
    margin:                 0px auto;
}

    #mainDiv{
        border-width:           2px;
        border-style:           outset;
        border-color:           rgb(38, 38, 38);
        border-radius:          10px 10px 10px 10px;
        background-color:       transparent;
        width:                  1210px;
        height:                 680px;
        color:                  black;
        text-align:             center;
        margin:                 10px auto;
    }

    #headerDiv{
        border-width:           2px;
        border-style:           inset;
        border-color:           rgb(38, 38, 38);
        border-radius:          10px 10px 10px 10px;
        background-color:       transparent;
        width:                  1200px;
        height:                 110px;
        color:                  black;
        text-align:             center;
        margin:                 0px auto;
    }

        #headerTopDiv{
            border-width:           2px;
            border-style:           inset;
            border-color:           rgb(38, 38, 38);
            border-radius:          10px 10px 10px 10px;
            background-color:       transparent;
            width:                  1190px;
            height:                 20px;
            color:                  black;
            text-align:             center;
            margin:                 0px auto;
        }

        #headerBottomDiv{
            border-width:           2px;
            border-style:           inset;
            border-color:           rgb(38, 38, 38);
            border-radius:          10px 10px 10px 10px;
            background-color:       transparent;
            width:                  1190px;
            height:                 80px;
            color:                  black;
            text-align:             center;
            margin:                 0px auto;
        }

            #headerBottomLeftDiv{
                display:                table-cell;
                border-width:           2px;
                border-style:           inset;
                border-color:           rgb(38, 38, 38);
                border-radius:          10px 10px 10px 10px;
                background-color:       transparent;
                width:                  185px;
                height:                 75px;
                color:                  black;
                text-align:             center;
                margin:                 3px auto;
            }

            #headerBottomMiddleDiv{
                display:                table-cell;
                border-width:           2px;
                border-style:           inset;
                border-color:           rgb(38, 38, 38);
                border-radius:          10px 10px 10px 10px;
                background-color:       transparent;
                width:                  710px;
                height:                 75px;
                color:                  black;
                text-align:             right;
                margin:                 3px auto;
            }

                #headerBottomMiddle1Div,
                #headerBottomMiddle2Div,
                #headerBottomMiddle3Div,
                #headerBottomMiddle4Div,
                #headerBottomMiddle5Div{
                    display:                table-cell;
                    border-width:           2px;
                    border-style:           inset;
                    border-color:           rgb(38, 38, 38);
                    border-radius:          10px 10px 10px 10px;
                    background-color:       transparent;
                    width:                  90px;
                    height:                 65px;
                    color:                  black;
                    text-align:             right;
                    float:                  right;
                    margin-top:             3px;
                    margin-bottom:          3px;
                    margin-left:            1px;
                    margin-right:           1px;
                }
                #headerBottomMiddle5Div{
                    margin-right:           20px;
                }

            #headerBottomRightDiv{
                display:                table-cell;
                border-width:           2px;
                border-style:           inset;
                border-color:           rgb(38, 38, 38);
                border-radius:          10px 10px 10px 10px;
                background-color:       transparent;
                width:                  280px;
                height:                 75px;
                color:                  black;
                text-align:             center;
                margin:                 3px auto;
            }

    #bodyDiv{
        border-width:           2px;
        border-style:           inset;
        border-color:           rgb(38, 38, 38);
        border-radius:          10px 10px 10px 10px;
        background-color:       transparent;
        width:                  1200px;
        height:                 560px;
        color:                  black;
        text-align:             center;
        margin:                 0px auto;
    }

        #bodyLeftDiv{
            display:                table-cell;
            border-width:           2px;
            border-style:           inset;
            border-color:           rgb(38, 38, 38);
            border-radius:          10px 10px 10px 10px;
            background-color:       transparent;
            width:                  190px;
            height:                 500px;
            color:                  black;
            text-align:             center;
            vertical-align:         top;
            margin-top:             1px;
            margin-bottom:          1px;
            margin-left:            1px;
            margin-right:           1px;
        }

        #bodyLeftButton1Div,
        #bodyLeftButton2Div,
        #bodyLeftButton3Div,
        #bodyLeftButton4Div,
        #bodyLeftButton5Div,
        #bodyLeftButton6Div,
        #bodyLeftButton7Div,
        #bodyLeftButton8Div,
        #bodyLeftButton9Div,
        #bodyLeftButton10Div,
        #bodyLeftButton11Div{
            border-width:           1px;
            border-style:           inset;
            border-color:           rgb(38, 38, 38);
            border-radius:          10px 10px 10px 10px;
            background-color:       transparent;
            width:                  180px;
            height:                 25px;
            color:                  black;
            text-align:             center;
            margin-top:             2px;
            margin-bottom:          1px;
            margin-left:            2px;
            margin-right:           2px;
            cursor:                 pointer;
        }

        #bodyLeftButton1Div:hover,
        #bodyLeftButton2Div:hover,
        #bodyLeftButton3Div:hover,
        #bodyLeftButton4Div:hover,
        #bodyLeftButton5Div:hover,
        #bodyLeftButton6Div:hover,
        #bodyLeftButton7Div:hover,
        #bodyLeftButton8Div:hover,
        #bodyLeftButton9Div:hover,
        #bodyLeftButton10Div:hover,
        #bodyLeftButton11Div:hover{
            border-width:           1px;
            border-style:           outset;
            border-color:           rgb(38, 38, 38);
            border-radius:          10px 10px 10px 10px;
            color:                  red;
            background-color:       black;
        }

        #bodyLeftButton1Div:active,
        #bodyLeftButton2Div:active,
        #bodyLeftButton3Div:active,
        #bodyLeftButton4Div:active,
        #bodyLeftButton5Div:active,
        #bodyLeftButton6Div:active,
        #bodyLeftButton7Div:active,
        #bodyLeftButton8Div:active,
        #bodyLeftButton9Div:active,
        #bodyLeftButton10Div:active,
        #bodyLeftButton11Div:active{
            border-width:           1px;
            border-style:           outset;
            border-color:           rgb(38, 38, 38);
            border-radius:          10px 10px 10px 10px;
            color:                  white;
            background-color:       green;
        }

        #bodyLeftButton1Div{
            margin-top:             5px;
        }

        #bodyMiddleDiv{
            display:                table-cell;
            border-width:           2px;
            border-style:           inset;
            border-color:           rgb(38, 38, 38);
            border-radius:          10px 10px 10px 10px;
            background-color:       transparent;
            width:                  850px;
            height:                 555px;
            color:                  black;
            text-align:             center;
            margin:                 3px auto;
        }

            #bodyMiddleTopDiv{
                border-width:           2px;
                border-style:           inset;
                border-color:           rgb(38, 38, 38);
                border-radius:          10px 10px 10px 10px;
                background-color:       transparent;
                width:                  840px;
                height:                 350px;
                color:                  black;
                text-align:             center;
                margin:                 3px auto;
            }

                #bodyMiddleTop1Div{
                    border-width:           2px;
                    border-style:           inset;
                    border-color:           rgb(38, 38, 38);
                    border-radius:          10px 10px 10px 10px;
                    background-color:       transparent;
                    width:                  630px;
                    height:                 30px;
                    color:                  black;
                    text-align:             center;
                    margin-top:             3px;
                    margin-bottom:          1px;
                    margin-left:            203px;
                    margin-right:           3px;
                }

                #bodyMiddleTop2Div{
                    border-width:           2px;
                    border-style:           inset;
                    border-color:           rgb(38, 38, 38);
                    border-radius:          10px 10px 10px 10px;
                    background-color:       transparent;
                    width:                  410px;
                    height:                 150px;
                    color:                  black;
                    text-align:             center;
                    margin-top:             115px;
                    margin-bottom:          3px;
                    margin-left:            423px;
                    margin-right:           3px;
                }

                #bodyMiddleTop3Div{
                    border-width:           2px;
                    border-style:           inset;
                    border-color:           rgb(38, 38, 38);
                    border-radius:          10px 10px 10px 10px;
                    background-color:       transparent;
                    width:                  830px;
                    height:                 30px;
                    color:                  black;
                    text-align:             center;
                    margin-top:             5px;
                    margin-bottom:          3px;
                    margin-left:            3px;
                    margin-right:           1px;
                }

            #bodyMiddleBottomDiv{
                border-width:           2px;
                border-style:           inset;
                border-color:           rgb(38, 38, 38);
                border-radius:          10px 10px 10px 10px;
                background-color:       transparent;
                width:                  840px;
                height:                 180px;
                color:                  black;
                text-align:             center;
                margin:                 3px auto;
            }

                #bodyMiddleBottomLeftDiv{
                    display:                table-cell;
                    border-width:           2px;
                    border-style:           inset;
                    border-color:           rgb(38, 38, 38);
                    border-radius:          10px 10px 10px 10px;
                    background-color:       transparent;
                    width:                  275px;
                    height:                 175px;
                    color:                  black;
                    text-align:             center;
                    margin:                 3px auto;
                }

                #bodyMiddleBottomMiddleDiv{
                    display:                table-cell;
                    border-width:           2px;
                    border-style:           inset;
                    border-color:           rgb(38, 38, 38);
                    border-radius:          10px 10px 10px 10px;
                    background-color:       transparent;
                    width:                  275px;
                    height:                 175px;
                    color:                  black;
                    text-align:             center;
                    margin:                 3px auto;
                }

                #bodyMiddleBottomRightDiv{
                    display:                table-cell;
                    border-width:           2px;
                    border-style:           inset;
                    border-color:           rgb(38, 38, 38);
                    border-radius:          10px 10px 10px 10px;
                    background-color:       transparent;
                    width:                  275px;
                    height:                 175px;
                    color:                  black;
                    text-align:             center;
                    margin:                 3px auto;
                }

        #bodyRightDiv{
            display:                table-cell;
            border-width:           2px;
            border-style:           inset;
            border-color:           rgb(38, 38, 38);
            border-radius:          10px 10px 10px 10px;
            background-color:       transparent;
            width:                  145px;
            height:                 555px;
            color:                  black;
            text-align:             center;
            margin-left:            3px;
        }